body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2, p {
    margin: 0;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo-links,
.category-links {
    display: flex;
    align-items: center;
}

.logo-links a,
.category-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.logo-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.about-section {
    background-color: #2c3e50; /* Dark mode color */
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Adjusted margin for spacing */
}

.text, .text-below-image {
    width: 100%;
    text-align: center;
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.text-below-image {
    margin-top: 10px;
}

.dark-mode main {
    background-color: #2c3e50;
    color: #fff;
}
