body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2, p {
    margin: 0;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo-links,
.category-links {
    display: flex;
    align-items: center;
}

.logo-links a,
.category-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.logo-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo-links img:hover {
    filter: brightness(1.5); /* Adjust brightness on hover to highlight the logo */
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.about-section {
    background-color: #2c3e50; /* Dark mode color */
    text-align: center;
}

.content {
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    align-items: flex-start;
    
    margin: 20px 40px 0; /* Increased margin for more spacing */
}

.text, .image {
    flex: 1;
}

.text {
    text-align: left;
}

.image img {
    width: 300px;
    height: 400px; /* Ensuring the image doesn't stretch */
    object-fit: cover; /* Maintaining aspect ratio and covering the container */
    border-radius: 8px;
}

.caption {
    margin-top: 10px;
    text-align: center;
}

.dark-mode main {
    background-color: #2c3e50;
    color: #fff;
}




